doctype html
html(lang="en")
  head
    style
      include style.css
  body
    div(class="bg-image")
        div(class="info-text")
          p
              case status
                when config.occupiedValue
                  | Ktoś jest w biurze, jej!
                when config.emptyValue
                  | W biurze nikogo nie ma :(
                when config.errorValue
                  | Wygląda na to że coś nie działa, skontaktuj się z IT
          p Ostatnia zmiana #{lastChanged}